.btn-outline-danger {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.btn-outline-primary {
    margin-right: 1rem;
}

.form-control {
    margin-bottom: 1rem;
    margin-top: 1rem;
}
@media (max-width: 768px) {
    .profile-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        padding-top: 4rem;
    }

    .profile-page h2 {
        margin-bottom: 1rem;
    }

    .profile-page h3 {
        margin-bottom: 1rem;
    }

    .profile-page button {
        margin-top: 1rem;
    }

    .template-list {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;
        align-items: center;
    }

    .template-card {
        width: 90%;
        padding: 15px;
    }

    /* Модальное окно */
    .modal-content {
        width: 90%;
        margin: 0 auto;
    }
}

