/* Стили таблицы для темной темы */
body.dark-theme .support-tickets-page .table {
    background-color: #617487; /* Темный фон таблицы */
    color: #f1f1f1; /* Цвет текста */
    border: 1px solid #444; /* Обводка таблицы */
}

body.dark-theme .support-tickets-page .table th {
    background-color: #546375; /* Фон заголовков */
    color: #d1d1d1; /* Цвет текста заголовков */
    border-bottom: 2px solid #555; /* Нижняя граница заголовков */
    padding: 10px;
    cursor: pointer;
}

body.dark-theme .support-tickets-page .table th:hover {
    background-color: #505050; /* Фон при наведении на заголовок */
}

body.dark-theme .support-tickets-page .table td {
    background-color: #617487; /* Фон ячеек */
    color: #f1f1f1; /* Цвет текста в ячейках */
    padding: 10px;
    border-top: 1px solid #444; /* Верхняя граница ячеек */
}

body.dark-theme .support-tickets-page .table-striped tbody tr:nth-of-type(odd) {
    background-color: #333; /* Фон для нечетных строк */
}

body.dark-theme .support-tickets-page .table a {
    color: #4faaff; /* Цвет ссылок */
    text-decoration: none;
}

body.dark-theme .support-tickets-page .table a:hover {
    color: #73c2fb; /* Цвет ссылки при наведении */
    text-decoration: underline;
}

/* CSS для кнопок пагинации в темной теме */
.dark-theme .pagination .page-link {
    background-color: #546375;  /* Темный фон для кнопок */
    color: #ddd;             /* Светлый текст для кнопок */
    border: 1px solid #666;  /* Темная граница */
}

.dark-theme .pagination .page-link:hover {
    background-color: #555;  /* Светлее при наведении */
}

.dark-theme .pagination .page-item.active .page-link {
    background-color: #617487;  /* Более светлый фон для активной кнопки */
    color: #fff;             /* Белый текст для активной кнопки */
    border-color: #888;      /* Граница активной кнопки */
}

